<div class="row">
   <div class="col-lg-12 mt-3 animated fadeIn fast">
     <h1 class="pt-3 pb-3 text-center">Registro de usuarios</h1>
   
     <div class="alert alert-success col-md-5 ml-5" *ngIf="status == 'success'">
        El registro se ha completado correctamente, <a [routerLink]="['/ingresar']">Ingresa aquí</a>
     </div>
     <div class="alert alert-danger col-md-5 ml-5" *ngIf="status == 'error'">
       El registro no se ha completado, intenta mas tarde.
    </div>
   </div>
   
   
     <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4" id="registroUsuarios">
        <!--Fomulario de registro-->
      
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-z A-Z]+">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es valido</small>
          </div>
          <div class="form-group">
             <label for="surname">Apellidos</label>
             <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-z A-Z]+">
             <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">Los apellidos no son validos</small>
          </div>
          <div class="form-group">
             <label for="email">Email</label>
             <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
             <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">Email ingresado no es valido</small>
          </div>
          <div class="form-group">
             <label for="password">Contraseña</label>
             <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" required>
             <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">Password ingresado no es valido</small>
          </div>
      
          <input type="submit" value="Registrar" class="btn btn-success mb-5 btn-block" [disabled]="registerForm.invalid">
        </form>
      
     </div>
   
</div>