

<div class="row" id="about">
  <div class="col-lg-6 offset-lg-3 text-center pt-4">
    <h2>SOBRE NOSOTROS</h2>
    <hr>
    <p>
      Frontman Propiedades es una empresa del más alto nivel profesional que gestiona la Compra, la Venta, el Arriendo y la Administración de su Propiedad y tiene como objetivo maximizar la rentabilidad y velocidad de
      éxito de su operación inmobiliaria utilizando los recursos en forma eficiente y eficaz mediante un manejo profesional, uso intensivo de tecnología y una comunicación 24/7 los 365 días del año.
    </p>

    <a [routerLink]="['/contacto']" class="btn btn-primary">CONTACTANOS AHORA</a>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12" id="nosotros">

  </div>
</div>

